# LaTeX build process artifacts
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.pyg
*.toc
Crypto101.brf
# Book, rendered or partially rendered
Crypto101.tex
Crypto101.pdf
Crypto101.epub
# Illustrations, vectorized
Illustrations/*/*.pdf
*.mps
*.mpx
*.mpo
# Illustrations that start as PDF
!Illustrations/CC/CC-BY-NC.pdf
