# LaTeX build process artifacts
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.pyg
*.toc
# Book, rendered or partially rendered
Crypto101.pdf
Crypto101.epub
# Illustrations, vectorized
Illustrations/*/*.pdf
*.mps
*.mpx
