div.body h5 {
    font-weight: bold;
    font-size: 115%;
}

div.body h6 {
    font-weight: bold;
    font-size: 105%;
}

.figure.align-left {
    margin-left: 0;
}

div.admonition.attention {
    background-color: rgb(176, 192, 212);
    border: 1px solid #000;
}
