div.admonition {
    border: 1px solid #000;
}

.figure.align-left {
    margin-left: 0;
}

img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}
